#headerText{
    position: absolute;
    top: 180px;
    /* left: 15vw; */
    width:100%;
    color: white;
}

.headerBody, #headerTitle{
    width:40%;
    margin-left:45px;
    
}

#headerTitle{
    font-weight: 600;
}

.wider{
    width:55%;
}

.headerBtn{
    margin-top:20px;
    margin-left:45px;
    /* margin-left:150px; */
    padding: 8px 30px;
    color:white;
    border:1px solid white;
    border-radius:3px;
    margin-right:0px;
    
}

.headerBtn:hover{
    color:white;
}